$fontFamily: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
$fontFamily2: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$grayscale: grayscale;
$antialiased: antialiased;

body {
  margin: 0;
  font-family: $fontFamily2;
  -webkit-font-smoothing: $antialiased;
  -moz-osx-font-smoothing: $grayscale;
}

code {
  font-family: $fontFamily;
}
